In [319]:
import pandas as pd
import os
import numpy as np

In [320]:
path = os.path.curdir
file_name = r'rtt走廊LOS6AP.csv'
file_path = os.path.join(path, file_name)

In [321]:
if not os.path.exists(file_path):
    raise Exception('error')
else:
    print('file exists! file path: ', file_path)

file exists! file path:  ./rtt走廊LOS6AP.csv

In [322]:
df = pd.read_csv(file_path, encoding='utf-8')

In [323]:
df.head()

,Timestamp,RTT_result,IMU_result
0,1.645060e+11,"['[b0:e4:d5:39:26:89, 2442, 776, -55, b0:e4:d5...",[' Accx 0.96 Accy 0.20 Accz 9.73 Grox -0.01 Gr...
1,1.645060e+11,"['[b0:e4:d5:39:26:89, 1729, 863, -63, b0:e4:d5...",[' Accx 1.00 Accy 0.12 Accz 9.72 Grox -0.03 Gr...
2,1.645060e+11,"['[b0:e4:d5:39:26:89, 1729, 863, -63, b0:e4:d5...",[' Accx 1.03 Accy 0.10 Accz 9.71 Grox -0.01 Gr...
3,1.645060e+11,"['[b0:e4:d5:39:26:89, 1729, 863, -63, b0:e4:d5...",[' Accx 1.13 Accy 0.14 Accz 9.76 Grox -0.01 Gr...
4,1.645060e+11,"['[b0:e4:d5:39:26:89, 1729, 863, -63, b0:e4:d5...",[' Accx 0.95 Accy -0.03 Accz 9.65 Grox -0.00 G...

In [324]:
df.dtypes

Timestamp     float64
RTT_result     object
IMU_result     object
dtype: object

In [325]:
df=df['RTT_result'].str.split(',',expand=True)
df

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,['[b0:e4:d5:39:26:89,2442,776,-55,b0:e4:d5:01:26:f5,15198,359,-59,b0:e4:d5:91:ba:5d,7346,...,200,-70,b0:e4:d5:96:3b:95,23342,481,-70,cc:f4:11:8b:29:4d,42639,123,-62]']
1,['[b0:e4:d5:39:26:89,1729,863,-63,b0:e4:d5:01:26:f5,15256,424,-60,b0:e4:d5:91:ba:5d,7698,...,121,-73,b0:e4:d5:96:3b:95,23303,2392,-78,cc:f4:11:8b:29:4d,42620,313,-68]']
2,['[b0:e4:d5:39:26:89,1729,863,-63,b0:e4:d5:01:26:f5,15256,424,-60,b0:e4:d5:91:ba:5d,7698,...,121,-73,b0:e4:d5:96:3b:95,23303,2392,-78,cc:f4:11:8b:29:4d,42620,313,-68]']
3,['[b0:e4:d5:39:26:89,1729,863,-63,b0:e4:d5:01:26:f5,15256,424,-60,b0:e4:d5:91:ba:5d,7698,...,121,-73,b0:e4:d5:96:3b:95,23303,2392,-78,cc:f4:11:8b:29:4d,42620,313,-68]']
4,['[b0:e4:d5:39:26:89,1729,863,-63,b0:e4:d5:01:26:f5,15256,424,-60,b0:e4:d5:91:ba:5d,7698,...,121,-73,b0:e4:d5:96:3b:95,23303,2392,-78,cc:f4:11:8b:29:4d,42620,313,-68]']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5361,['[cc:f4:11:8b:29:4d,1633,241,-41,b0:e4:d5:5f:f2:ad,11817,215,-56,b0:e4:d5:96:3b:95,18244,...,389,-69,b0:e4:d5:39:26:89,60919,211,-80,b0:e4:d5:01:26:f5,27053,775,-60]']
5362,['[cc:f4:11:8b:29:4d,1506,319,-41,b0:e4:d5:5f:f2:ad,11778,362,-60,b0:e4:d5:96:3b:95,19709,...,251,-76,b0:e4:d5:39:26:89,51505,1825,-80,b0:e4:d5:01:26:f5,28967,496,-61]']
5363,['[cc:f4:11:8b:29:4d,1506,319,-41,b0:e4:d5:5f:f2:ad,11778,362,-60,b0:e4:d5:96:3b:95,19709,...,251,-76,b0:e4:d5:39:26:89,51505,1825,-80,b0:e4:d5:01:26:f5,28967,496,-61]']
5364,['[cc:f4:11:8b:29:4d,1506,319,-41,b0:e4:d5:5f:f2:ad,11778,362,-60,b0:e4:d5:96:3b:95,19709,...,251,-76,b0:e4:d5:39:26:89,51505,1825,-80,b0:e4:d5:01:26:f5,28967,496,-61]']
5365,['[cc:f4:11:8b:29:4d,1506,319,-41,b0:e4:d5:5f:f2:ad,11778,362,-60,b0:e4:d5:96:3b:95,19709,...,251,-76,b0:e4:d5:39:26:89,51505,1825,-80,b0:e4:d5:01:26:f5,28967,496,-61]']

In [326]:

# cols = df.columns.tolist()
# cols = cols[1]
# cols

In [327]:
# df=df[cols]
# df.head

In [328]:
# df.str.split(',',expand=True)
# df

In [329]:
df[0]=df[0].map(lambda x: str(x)[3:])

df[0]

0       b0:e4:d5:39:26:89
1       b0:e4:d5:39:26:89
2       b0:e4:d5:39:26:89
3       b0:e4:d5:39:26:89
4       b0:e4:d5:39:26:89
              ...
5361    cc:f4:11:8b:29:4d
5362    cc:f4:11:8b:29:4d
5363    cc:f4:11:8b:29:4d
5364    cc:f4:11:8b:29:4d
5365    cc:f4:11:8b:29:4d
Name: 0, Length: 5366, dtype: object

In [330]:
df[23] = df[23].map(lambda x: str(x)[:-3])
df[23]

0        -62
1        -68
2        -68
3        -68
4        -68
        ...
5361     -60
5362     -61
5363     -61
5364     -61
5365     -61
Name: 23, Length: 5366, dtype: object

In [331]:
df

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,b0:e4:d5:39:26:89,2442,776,-55,b0:e4:d5:01:26:f5,15198,359,-59,b0:e4:d5:91:ba:5d,7346,...,200,-70,b0:e4:d5:96:3b:95,23342,481,-70,cc:f4:11:8b:29:4d,42639,123,-62
1,b0:e4:d5:39:26:89,1729,863,-63,b0:e4:d5:01:26:f5,15256,424,-60,b0:e4:d5:91:ba:5d,7698,...,121,-73,b0:e4:d5:96:3b:95,23303,2392,-78,cc:f4:11:8b:29:4d,42620,313,-68
2,b0:e4:d5:39:26:89,1729,863,-63,b0:e4:d5:01:26:f5,15256,424,-60,b0:e4:d5:91:ba:5d,7698,...,121,-73,b0:e4:d5:96:3b:95,23303,2392,-78,cc:f4:11:8b:29:4d,42620,313,-68
3,b0:e4:d5:39:26:89,1729,863,-63,b0:e4:d5:01:26:f5,15256,424,-60,b0:e4:d5:91:ba:5d,7698,...,121,-73,b0:e4:d5:96:3b:95,23303,2392,-78,cc:f4:11:8b:29:4d,42620,313,-68
4,b0:e4:d5:39:26:89,1729,863,-63,b0:e4:d5:01:26:f5,15256,424,-60,b0:e4:d5:91:ba:5d,7698,...,121,-73,b0:e4:d5:96:3b:95,23303,2392,-78,cc:f4:11:8b:29:4d,42620,313,-68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5361,cc:f4:11:8b:29:4d,1633,241,-41,b0:e4:d5:5f:f2:ad,11817,215,-56,b0:e4:d5:96:3b:95,18244,...,389,-69,b0:e4:d5:39:26:89,60919,211,-80,b0:e4:d5:01:26:f5,27053,775,-60
5362,cc:f4:11:8b:29:4d,1506,319,-41,b0:e4:d5:5f:f2:ad,11778,362,-60,b0:e4:d5:96:3b:95,19709,...,251,-76,b0:e4:d5:39:26:89,51505,1825,-80,b0:e4:d5:01:26:f5,28967,496,-61
5363,cc:f4:11:8b:29:4d,1506,319,-41,b0:e4:d5:5f:f2:ad,11778,362,-60,b0:e4:d5:96:3b:95,19709,...,251,-76,b0:e4:d5:39:26:89,51505,1825,-80,b0:e4:d5:01:26:f5,28967,496,-61
5364,cc:f4:11:8b:29:4d,1506,319,-41,b0:e4:d5:5f:f2:ad,11778,362,-60,b0:e4:d5:96:3b:95,19709,...,251,-76,b0:e4:d5:39:26:89,51505,1825,-80,b0:e4:d5:01:26:f5,28967,496,-61
5365,cc:f4:11:8b:29:4d,1506,319,-41,b0:e4:d5:5f:f2:ad,11778,362,-60,b0:e4:d5:96:3b:95,19709,...,251,-76,b0:e4:d5:39:26:89,51505,1825,-80,b0:e4:d5:01:26:f5,28967,496,-61

In [332]:
df.replace({' b0:e4:d5:39:26:89': 'AP1', 'cc:f4:11:8b:29:4d': 'AP2', ' b0:e4:d5:01:26:f5': 'AP3',
           ' b0:e4:d5:5f:f2:ad': 'AP4', ' b0:e4:d5:96:3b:95': 'AP5', ' b0:e4:d5:91:ba:5d': 'AP6', ' cc:f4:11:8b:29:4d': 'AP2', 'b0:e4:d5:39:26:89': 'AP1'}, inplace=True)

# df.replace(inplace=True, to_replace=r'cc:f4:11:8b:29:4d', value='AP2')
# df.replace(inplace=True, to_replace=r'b0:e4:d5:01:26:f5', value='AP3')
# df.replace(inplace=True, to_replace=r'b0:e4:d5:5f:f2:ad', value='AP4')
# df.replace(inplace=True, to_replace=r'b0:e4:d5:96:3b:95', value='AP5')
# df.replace(inplace=True, to_replace=r'b0:e4:d5:91:ba:5d', value='AP6')

In [333]:
df

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,AP1,2442,776,-55,AP3,15198,359,-59,AP6,7346,...,200,-70,AP5,23342,481,-70,AP2,42639,123,-62
1,AP1,1729,863,-63,AP3,15256,424,-60,AP6,7698,...,121,-73,AP5,23303,2392,-78,AP2,42620,313,-68
2,AP1,1729,863,-63,AP3,15256,424,-60,AP6,7698,...,121,-73,AP5,23303,2392,-78,AP2,42620,313,-68
3,AP1,1729,863,-63,AP3,15256,424,-60,AP6,7698,...,121,-73,AP5,23303,2392,-78,AP2,42620,313,-68
4,AP1,1729,863,-63,AP3,15256,424,-60,AP6,7698,...,121,-73,AP5,23303,2392,-78,AP2,42620,313,-68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5361,AP2,1633,241,-41,AP4,11817,215,-56,AP5,18244,...,389,-69,AP1,60919,211,-80,AP3,27053,775,-60
5362,AP2,1506,319,-41,AP4,11778,362,-60,AP5,19709,...,251,-76,AP1,51505,1825,-80,AP3,28967,496,-61
5363,AP2,1506,319,-41,AP4,11778,362,-60,AP5,19709,...,251,-76,AP1,51505,1825,-80,AP3,28967,496,-61
5364,AP2,1506,319,-41,AP4,11778,362,-60,AP5,19709,...,251,-76,AP1,51505,1825,-80,AP3,28967,496,-61
5365,AP2,1506,319,-41,AP4,11778,362,-60,AP5,19709,...,251,-76,AP1,51505,1825,-80,AP3,28967,496,-61

In [334]:
df.to_excel(os.path.join(os.path.curdir, 'zoulang.xlsx'))